<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PeopleToEmail" value="jeremy.thompson@xyz.com" />
    <add key="SupportEmail" value="support@xyz.com" />
    <add key="ExchangeEmailWS" value="https://YourExchangeServer.zyx.com/EWS/Exchange.asmx" /> 
  </appSettings>

</configuration>